@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-yellow: #ffc107;
  --color-dark: #0a0a0a;
  --color-light: #ededed;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
  font-family: Arial, Helvetica, sans-serif;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
:after,
:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
  word-break: break-word;
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1180px;
  width: 90%;
  @media (max-width: theme("screens.md")) {
    width: 100%;
  }
}
