@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;
  --color-dark: #0a0a0a;
  --color-light: #ededed;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
  font-family: Arial, Helvetica, sans-serif;
  height: -webkit-fill-available;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
:after,
:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
  word-break: break-word;
}

.container {
  margin: 0 auto;
  padding-top: 64px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1180px;
  width: 90%;
  @media (max-width: theme("screens.md")) {
    width: 100%;
  }
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  transition: all 0.2s ease-in;
  label {
    display: block;
    font: 700 15px/19px  Arial, sans-serif;;
    color: var(--color-dark);
    margin-bottom: 10px;
    span.required {
      color: red;
    }
  }
  sub.field-explain {
    margin-top: 5px;
    font: 500 13px/1  Arial, sans-serif;;
    color: grey;
  }
  p.error-message {
    color: red;
    font: 500 13px/1  Arial, sans-serif;;
    margin-top: 10px;
  }
  input,
  textarea,
  select {
    width: 100%;
    height: 40px;
    padding: 0 14px;
    border: 1px solid grey;
    border-radius: 1.5rem;
    font: 400 13px/16px  Arial, sans-serif;;
    background: white;
    &::placeholder {
      color: grey;
    }
    &:focus {
      border: 2px solid var(--color-dark);
      box-shadow: none;
    }
    &[type="checkbox"] {
      width: 30px;
      height: 30px;
      accent-color: var(--color-dark);
      border: 1px solid grey;
      cursor: pointer;
      position: relative;
      border-radius: 4px;
      margin-right: 15px;
      color: var(--color-dark);
      &:focus {
        border: 1px solid grey;
      }
    }
    @media (max-width: theme("screens.sm")) {
      font-size: 16px;
      line-height: 19px;
    }
  }
  textarea {
    height: unset;
    padding: 10px 14px;
    resize: none;
  }
}

.MuiButton-root {
  padding: 5px 8px !important;
  background-color: var(--color-primary-600) !important;
  color: white !important;
  &:disabled{
    background-color: grey !important;
  }
}
.MuiListItemButton-root {
  padding-left: 2rem !important;
  gap: 1.5rem !important;
}
